In [6]:
import numpy as np
import pandas as pd
from IPython import display


pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.3f}'.format

In [8]:
test = pd.read_csv("~/Documents/hirosplacement/Data/temperature_scan/180725cooling/zeeman85+.csv", sep=";", header=None, skiprows=1)


display.display(test.describe())

             0        1     2
count 1018.000 1018.000 0.000
mean    96.954    2.740   nan
std     11.527    0.129   nan
min     77.019    2.534   nan
25%     86.986    2.627   nan
50%     96.958    2.699   nan
75%    106.922    2.860   nan
max    116.890    2.959   nan